<!doctype html>
<html class="no-js" >
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum=1,minimum=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <title>主页标题</title>
   
  <link rel="icon" type="image/png" href="assets/i/favicon.png">
  <link rel="stylesheet" href="assets/css/amazeui.min.css">
  <link rel="stylesheet" href="assets/css/app.css">
  <link rel="stylesheet" href="assets/css/demo.css">
  <link rel="stylesheet" type="text/css" href="assets/css/loader.css"/>
  
  <script src="assets/js/angular.min.js"></script>
  <script src="assets/js/lives/home.js"></script>
  <script src="assets/js/jquery-3.1.1.min.js"></script>
	<script src="assets/js/amazeui.min.js"></script>
	<script src="assets/js/homePage.js"></script>
	
</head>
<body ng-app="home" ng-controller="homePage">
<!--模态框-->
<!--<div class="am-modal am-modal-prompt" tabindex="-1" id="my-confirm">
  <div class="am-modal-dialog" style="border-radius: 1rem;position: initial;">
    <div class="am-modal-hd">请登录</div>
    <div class="am-modal-bd" style="border: 0;padding-bottom: 1rem;">
      <input type="tel" class="am-mod-input" ng-model="phones" placeholder="请输入手机号" pattern="[0-9]*">
    </div>
    <div class="am-u-sm-12" style="margin-bottom: 2rem;position: inherit;">
      <input type="tel" class="am-u-sm-6 am-mod-input" placeholder="验证码" pattern="[0-9]*" style="margin-left: 2rem;">
      <button class="am-btn am-btn-primary am-btn-xs am-u-sm-3 " ng-click="getTestCode()" ng-bind="description" ng-disabled="canClick" style="margin: 0.8rem 2rem 0 0;">验证码</button>
    </div>
    <div class="am-mo-footer" style="border-top: 1px solid #9e9e9e;">
      <span class="am-mo-btn" ng-click="common()" >登录</span>
    </div>
  </div>
</div>-->

<!--loading 加载动画-->
<div id="loader-wrapper">
	<div id="loader"></div>
	<div class="loader-section section-left"></div>
	<div class="loader-section section-right"></div>
	<div class="load_title" style="top: 69%;">正在加载Live<br><span>V1.0</span></div>
</div>

<!-- Header顶部 -->
<header data-am-widget="header" class="am-header am-header-default am-header-fixed">
  <div class="am-u-sm-9 am-input-group am-input-group-sm" >
    <div class="am-input-group" style="margin-top: 0.4rem;" data-am-sticky>
      <span class="am-input-group-label" style="padding:0px;color:black;background:bottom;border: 0px;">
        <i class="am-icon-search am-icon-fw" style=" margin-top: 3px;color: #fff;"></i>
      </span>
      <input type="search" class="am-tiput am-form-field" id="keyword" style="font-size: 1.3rem!important;">
    </div>
  </div>
</header>

<!-- Menu左侧滑出分类 -->
<nav data-am-widget="menu" class="am-menu  am-menu-offcanvas1" data-am-menu-offcanvas>
  <a href="javascript: void(0)" class="am-menu-toggle" style="position: fixed; top: 3px; z-index: 1200;" >
    <i class="am-menu-toggle-icon am-icon-bars"></i>
  </a>
  <div class="am-offcanvas">
    <div class="am-offcanvas-bar">
      <ul class="am-menu-nav sm-block-grid-1">
        <div class="am-pg">
        		<div class="am-avg-sm-1" style="margin: 1rem 0px 1rem 0px;">
        			<img class="am-circle" ng-src="http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/1000/h/1000/q/80" width="140" height="140"/>
        			<p class="am-wex">{{weixinName}}</p> 
        		</div>
        </div>
        <li class="">
        	<a href="##">已购商品</a>
        </li>
        <li class="am-parent">
          <!--<a href="##" class="am-icon-star" style="margin-left: -15px;">我的收藏</a>-->
          <a href="##">我的收藏</a>
          <ul class="am-menu-sub am-collapse  sm-block-grid-2 ">
            <li class="">
              <a href="##">收藏资讯</a>
            </li>
            <li class="">
              <a href="##">收藏录播</a>
            </li>
            <li class="">
              <a href="##">关注直播</a>
            </li>
          </ul>
        </li>
        <!--竖排显示-->
        <li class="am-parent">
          <a href="##">直播分类</a>
          <ul class="am-menu-sub am-collapse  sm-block-grid-2 ">
            <li class="">
              <a href="##">直播分类1</a>
            </li>
            <li class="">
              <a href="##">直播分类2</a>
            </li>
            <li class="">
              <a href="##">直播分类3</a>
            </li>
            <li class="am-menu-nav-channel">
              <a href="##" title="全部">查看全部 &raquo;</a>
            </li>
          </ul>
        </li>
				<!--横排显示-->
         <li class="am-parent">
          <a href="##">录播分类</a>
          <ul class="am-menu-sub am-collapse am-avg-sm-3">
            <li class="">
              <a href="##">公司</a>
            </li>
            <li class="">
              <a href="##">人物</a>
            </li>
            <li class="">
              <a href="##">趋势</a>
            </li>
            <li class="">
              <a href="##">投融资</a>
            </li>
            <li class="">
              <a href="##">创业公司</a>
            </li>
            <li class="">
              <a href="##">创业人物</a>
            </li>
          </ul>
        </li> 
      </ul>
    </div>
  </div>
</nav>

<!-- Slider轮播图片 -->
<div data-am-widget="slider" class="am-slider am-slider-c1 " data-am-slider='{"directionNav":false;&quot;directionNav&quot;:false}'>
  <ul class="am-slides" >
      <li ng-repeat="item in lunboImg">
          <img ng-src="{{item.img}}">
          <div class="am-slider-desc">{{item.imgTitle}}</div>
      </li>
  </ul>
</div>

<!-- list按钮导航 -->
<div class="am-u-sm-12 " style="margin: 0.5rem 0 0.5rem 0;">
    <ul class="am-navbar-nav am-cf am-avg-sm-4" style="position: initial;">
        <li>
          <!--<a href="tel:123456789" style="color: #3bb4f2;"> 可通过手机直接拨打-->
          <a href="#about" style="color: #3bb4f2;" >
            <span class="am-icon-desktop" style="height: 3rem;"></span>
            <span class="am-navbar-label" style="text-align: center;">热门直播</span>
          </a>
        </li>
        <li >
          <a href="#xueshu" style="color: #5eb95e;">
            <!-- <span class="am-icon-share-square-o"></span>分享 -->
            <span class="am-icon-play-circle-o" style="height: 3rem;"></span>
            <span class="am-navbar-label" style="text-align: center;">精彩录播</span>
          </a>
        </li>
        <li >
          <a href="#zixun" style="color: #F37B1D;">
            <span class="am-icon-edit" style="height: 3rem;"></span>
            <span class="am-navbar-label" style="text-align: center;">学术资讯</span>
          </a>
        </li>
        <li>
          <a href="##" style="color: #dd514c;" ng-click="wenda()">
            <span class="am-icon-leaf" style="height: 3rem;"></span>
            <span class="am-navbar-label" style="text-align: center;">实时问答</span>
          </a>
        </li>
      </ul>
</div>

<!-- 轮播消息 -->
<div class="am-u-sm-12 am-xiaox" id="about">
  <div class="am-u-sm-4 am-te1">
    <p class="am-texp"><span class="am-icon-volume-up" style=" margin-right: 0.5rem;"></span>今日消息</p>
  </div>
  <div class="am-u-sm-8 am-sxia">
        <div class="t_news text-leng">
          <ul  class="news_li" style="margin:0px; padding: 0px;">
            <li ng-repeat="lun in lunNews"><a href="{{lun.links}}" ></a>{{lun.message}}</li>
          </ul>
          <ul class="swap" style="margin:0px; padding: 0px;"></ul>
        </div>
  </div>  
  </div>
</div>

<!-- 直播标题 -->
<div class="am-u-sm-12 am-tit" >
    <div class="am-cf">
        <p class="am-fl am-zyfd" style="color:#999">实时直播</p>
        <a href="assets/view/lives.html" class="am-fr am-zyfd" style="color:#19bd9b">更多 &raquo;</a>
    </div>
</div>

<!--直播内容-->
<ul  class="am-gallery am-avg-sm-1 am-avg-md-3 am-avg-lg-4 am-gallery-default"  style="overflow: auto;" id="nei" >
  <li name="nei3"  ng-repeat="mes in zhibo">
    <div class="am-gallery-item" >
	  		<img ng-src="{{mes.zhImg}}" />
	  		<div class="am-u-sm-12 am-padel">
	  			<h3 class="am-gallery-title am-u-sm-10 am-padel">{{mes.zhNei}}</h3>
        	<span class="am-icon-video-camera am-u-sm-2 am-padel am-zhi"></span>
	  		</div>
        
        <div class="am-gallery-desc am-u-sm-12 am-padel">
        	<span class="am-u-sm-8 am-padel am-icon-calendar-check-o">&nbsp;<span>{{mes.zhTime}}</span></span>
        	<a href="#" class="am-u-sm-3 am-padel am-jin">进入直播</a>
        </div>
    </div>
  </li>
  <div class="am-u-sm-12 am-u-sm-centered" style="text-align: center; padding: 0px; overflow: auto;" id="xueshu" >
    <button class="am-btn am-btn-primary am-btn-sm" style="width: 100%;" id="texths" onclick="ttt()"></button>
  </div>
</ul>

<!-- 录播标题 -->
<div class="am-u-sm-12 am-tit" id="xueshu">
  <div class="am-cf" >
    <p class="am-fl am-zyfd" style="color:#999">精彩录播</p>
    <a href="assets/view/recording.html" class="am-fr am-zyfd" style="color:#19bd9b">更多 &raquo;</a>
  </div>
</div>

<!--录播内容-->
<ul class="am-gallery am-avg-sm-2 am-avg-md-3 am-avg-lg-4 am-gallery-default">
  <li ng-repeat="lu in lubo">
    <div class="am-gallery-item">
        <img ng-src="{{lu.luImg}}"/>
        <div class="am-u-sm-12 am-padel">
	  			<h3 class="am-gallery-title am-u-sm-10 am-padel">{{lu.luNei}}</h3>
	  		</div>
        
        <div class="am-gallery-desc am-u-sm-12 am-padel">
        	<span class="am-u-sm-10 am-padel am-icon-caret-square-o-right">&nbsp;<span>{{lu.luTime}}</span></span>
        </div>
    </div>
  </li>
    <div class="am-gallery-item am-cha">
    	<span class="am-icon-angle-double-right am-icon-lg"></span>
    	<p style="margin-top: 1rem; font-size: 1.5rem;">查看详情</p>
    </div>
  </li>
</ul>

<!-- 资讯标题 -->
<div class="am-u-sm-12 am-tit" id="xueshu">
  <div class="am-cf" >
    <p class="am-fl am-zyfd" style="color:#999">实时资讯</p>
    <p class="am-fr am-zyfd" style="color:#19bd9b">更多 &raquo;</p>
  </div>
</div>

<!--实时资讯-->
<div class="am-list-news am-list-news-default" id="zixun">
   <!--列表标题-->
   <div class="am-list-news-hd am-cf">
      <!--带更多链接-->
   </div>
	 <div class="am-list-news-bd">
	  <ul class="am-list">
	      <li ng-repeat="zi in information" class="am-g am-list-item-dated">
	          <a href="##" class="am-list-item-hd ">{{zi.ziTitle}}</a>
	          <span class="am-list-date">{{zi.ziTime}}</span>
	          <div class="am-list-item-text">{{zi.ziZhai}}</div>
	      </li>
	  </ul>
	  </div>
</div>

<!--页脚简介-->
<!--<div ng-include="'assets/view/introduce/footer.html'"></div>-->
<footer class="am-footer am-footer-default" style="background: #EFEFEF; margin-top: 2rem; margin-bottom: 49px;">
	<div class="am-footer-miscs ">
		<p>由
			<a href="http://www.yunshipei.com/" title="11111" target="_blank" class="">hahahahah</a>提供技术支持</p>
		<p>CopyRight©2017 WobuZhidao .zhibo</p>
		<p>京ICP备13033158</p>
	</div>
</footer>

<!--回到顶部-->
<div data-am-widget="gotop" class="am-gotop am-gotop-fixed" style="width: 50px; bottom: 62px;">
	<a href="#top" title="回到顶部">
	      <i class="am-icon-btn am-icon-arrow-up am-active"></i>
	</a>
</div>

<!-- 底部固定导航 -->
<!--<div ng-include="'assets/view/introduce/indexBottom.html'"></div>-->
<div  class="am-navbar am-cf am-navbar-default">
  <ul class="am-navbar-nav am-cf am-avg-sm-4">
    <li>
      <a href="index.html">
        <span class="am-icon-home"></span>
        <span class="am-navbar-label">首页</span>
      </a>
    </li>
    <li>
      <a href="assets/view/lives.html">
        <span class="am-icon-eye"></span>
        <span class="am-navbar-label">直播</span>
      </a>
    </li>
    <li>
      <a href="assets/view/recording.html">
        <span class="am-icon-play"></span>
        <span class="am-navbar-label">录播</span>
      </a>
    </li>
  </ul>
</div>


<script type="text/javascript">
	//顶部搜索框搜索操作
$("#keyword").on('keypress', function(e) {
	var keycode = e.keyCode;
	var searchName = $(this).val();
	if(keycode == '13') {
		e.preventDefault();
		//请求搜索接口  
		alert("搜索");
	}
});
</script>
</body>
</html>
