<ul class="am-navbar-nav am-cf am-avg-sm-4">
    <li>
      <a ui-sref="homepage">
        <span class="am-icon-home"></span>
        <span class="am-navbar-label">首页</span>
      </a>
    </li>
    <li>
      <a ui-sref="follow">
        <span class="am-icon-heart"></span>
        <span class="am-navbar-label">关注</span>
      </a>
    </li>
    <li>
      <a ui-sref="live">
        <span class="am-icon-eye"></span>
        <span class="am-navbar-label">直播</span>
      </a>
    </li>
    <li>
      <a ui-sref="recording">
        <span class="am-icon-play"></span>
        <span class="am-navbar-label">录播</span>
      </a>
    </li>
    <!--<li>
      <a href="http://amazeui.org/getting-started">
        <span class="am-icon-download"></span>
        <span class="am-navbar-label">下载使用</span>
      </a>
    </li>
    <li>
      <a href="https://github.com/allmobilize/amazeui/issues">
        <span class="am-icon-location-arrow"></span>
        <span class="am-navbar-label">Bug 反馈</span>
      </a>
    </li>-->
  </ul>