
 .am-tiput{
    width: 100%!important;
    height: 2rem!important;
    border-radius:22px!important;
    margin-top: 1rem;
}

.am-sea{
    position: absolute;
    left: 8px;
    top: -2px;
}

.am-xiaox{
    border-top: 0.1rem solid #ccc;
    height: 33px;
}
.am-te1{
    height: 29px;
    line-height: 1.9;
    -webkit-box-flex: 0;
    padding: 0.2rem;
    flex-grow: 0;
    justify-content: center;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    align-items: center;
    border-right: .01rem solid #ccc;
}
.am-xiaox .am-te1 .am-texp{
    margin: 0rem 0px 0.5rem 0px;
    font-size: 14px;
    color: #1bbc9b;
    text-align: center;
}
.am-sxia{
    margin-top: 0.5rem;
    height: 22px;
    overflow:hidden;
}

/* 图片轮播 */
.text-leng{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

ul,li{ 
    list-style:none;
}
.box{ 
    height:35px; 
    background:#000; 
}
.t_news{ 
    height:22px;  
    color:#000;  
    overflow:hidden; 
    position:relative;
    font-size: 1.3rem;
}
.t_news b{ 
    line-height:19px; 
    font-weight:bold; 
    display:inline-block;
}
.news_li,.swap{ 
    line-height:19px; 
    display:inline-block; 
    position:absolute; top:0;
}
.news_li a,.swap a{ 
    color:#000;
}
.swap{
    top:19px;
}

/* 标题 */
.am-tit{
    height: 2.5rem;
    background: #f2f2f2;
}
.am-tit .am-zyfd{
    margin: 0.3rem 0px 0px 0px;
    font-size: 1.2rem;
}

 .am-gallery-item .am-padel{
 	padding: 0px;
 }

.am-jin{
	text-align: center;
    background: rgba(62, 150, 195, 0.98);
    color: #f8f8f8;
    border-radius: 5px;
}

.am-padel .am-zhi{
	margin-top: 10px;
    text-align: right;
    color: #77d4c1;
}

.am-cha{
	text-align: center;
    color: #0e90d2;
}

.circle {
    border: solid 1px #23527C;
    border-radius: 50px;
    height: 50px;
    position: absolute;
    width: 50px;
}
 
.circle:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}
 
 
.circle_inner_play {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent #23527C;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -7px;
}
 
.circle_inner_pause {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12px;
    margin-top: -10px;
    color: #23527C;
}
 
.circle_inner_reset {
    width: 18px;
    height: 18px;
    background-color: #23527C;
    margin: -9px 0 0 -9px;
    position: absolute;
    top: 50%;
    left: 50%;
}

/*----------------------*/
.am-pg{
	width:100%;
	height:auto;
	text-align: center;
}

.am-wex{
	color: #fff; 
	margin: 1rem 0 0 0;
	font-size: 1.5rem;
}

.am-hui{
	padding: 0;
	margin-top: 0.5rem;
}

.sp-ttx{
	display: block;
	word-wrap: normal;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.lpd{
	padding: 0;
}

.liti{
	padding: 0; 
	background: #fff;
	border-radius: 0.8rem;
}

.lvbo{
	background: #0084C7;color: #EEEEEE;text-align: center;border-radius: 1rem;font-size: 1.2rem;
}

.pamg{
	padding: 0px 0 8px 0px;margin: 1rem 0 1rem 0px;
}
