<div  class="am-navbar am-cf am-navbar-default">
  <ul class="am-navbar-nav am-cf am-avg-sm-4">
    <li>
      <a href="index.html">
        <span class="am-icon-home"></span>
        <span class="am-navbar-label">首页</span>
      </a>
    </li>
    <li>
      <a href="assets/view/lives.html">
        <span class="am-icon-eye"></span>
        <span class="am-navbar-label">直播</span>
      </a>
    </li>
    <li>
      <a href="assets/view/recording.html">
        <span class="am-icon-play"></span>
        <span class="am-navbar-label">录播</span>
      </a>
    </li>
  </ul>
</div>