<div class="am-btn-group am-btn-group-xs am-u-sm-12" style="margin: 0.5rem 0rem 0rem 0rem;">
		<button type="button" class="am-btn am-btn-primary am-radius am-btn-group-xs" ng-click="alls()">全部</button>
		<button type="button" class="am-btn am-btn-primary am-radius am-btn-group-xs" ng-click="pay()">付费</button>
		<button type="button" class="am-btn am-btn-primary am-radius am-btn-group-xs" ng-click="free()">限免</button>
		<div style="margin-right: 1rem;">
			<i class="am-icon-refresh am-fr am-icon-xl" style="color: #0e90d2;" ng-click="shux()" id="shaux"></i>
		</div>
</div>