<!doctype html>
<html class="no-js">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>主页标题</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum=1,minimum=1, user-scalable=no">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<link rel="icon" type="image/png" href="../i/favicon.png">
		<link rel="stylesheet" href="../css/amazeui.min.css">
		<link rel="stylesheet" href="../css/app.css">
		<link rel="stylesheet" href="../css/demo.css">
	</head>

	<body style="background: #E1E1E1;">

		<div style="width: 100px; height: 50px;" id="lodd"></div>
		<button onclick="textd()">1111</button>
		<!-- Header顶部 -->

		<div class="am-u-sm-12" style="padding: 0 6px 0 6px;">
			<div class="am-u-sm-12" style="padding: 0; background: #fff;border-radius: 0.8rem;">
				<div class="am-u-sm-6" style="padding: 0;">
					<p style="margin: 7px 0px 0px 10px;font-size: 1.2rem;">33333</p>
					<ul data-am-widget="gallery" class="am-gallery am-avg-sm-1 am-avg-md-3 am-avg-lg-4 am-gallery-default" style="overflow: auto; padding-top: 0;">
						<li>
							<div class="am-gallery-item">
								<img src="http://mpic.tiankong.com/077/708/0777089ad18a688eee7c756a506e5f4a/640.jpg" style="border-radius: 10px;" />
							</div>
						</li>
					</ul>
					<p style="margin: 0px 0px 6px 10px;font-size: 1.2rem;">33333</p>
				</div>
				<div am-u-sm-6>
					<p>11111</p>
					<p>11111</p>
					<p>11111</p>
				</div>
			</div>
		</div>

		<!--页脚简介-->
		<footer data-am-widget="footer" class="am-footer am-footer-default" style="background: #EFEFEF; margin-top: 2rem;" data-am-footer="{  }">
			<div class="am-footer-miscs ">
				<p>由<a href="http://www.yunshipei.com/" title="11111" target="_blank" class="">hahahahah</a>提供技术支持</p>
				<p>CopyRight©2017 WobuZhidao .zhibo</p>
				<p>京ICP备13033158</p>
			</div>
		</footer>

		<!--回到顶部-->
		<div data-am-widget="gotop" class="am-gotop am-gotop-fixed" style="width: 50px;">
			<a href="#top" title="回到顶部">
				<i class="am-icon-btn am-icon-arrow-up am-active"></i>
			</a>
		</div>

		<!-- 底部固定导航 -->
		<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default " id="">
			<ul class="am-navbar-nav am-cf am-avg-sm-4">
				<li>
					<a href="../../index.html">
						<span class="am-icon-home"></span>
						<span class="am-navbar-label">首页</span>
					</a>
				</li>
				<li>
					<a href="../view/follow.html">
						<span class="am-icon-heart"></span>
						<span class="am-navbar-label">关注</span>
					</a>
				</li>
				<li>
					<a href="../view/lives.html">
						<span class="am-icon-eye"></span>
						<span class="am-navbar-label">直播</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="am-icon-play"></span>
						<span class="am-navbar-label">录播</span>
					</a>
				</li>
				<!--<li>
      <a href="http://amazeui.org/getting-started">
        <span class="am-icon-download"></span>
        <span class="am-navbar-label">下载使用</span>
      </a>
    </li>
    <li>
      <a href="https://github.com/allmobilize/amazeui/issues">
        <span class="am-icon-location-arrow"></span>
        <span class="am-navbar-label">Bug 反馈</span>
      </a>
    </li>-->
			</ul>
		</div>

		<script src="../js/jquery-3.1.1.min.js"></script>
		<script src="../js/amazeui.min.js"></script>
		<script type="text/javascript">
			//初始化操作
			$(function() {
				
				// 显示更多按钮操作
				$("[name='nei3']").hide();
				$("#texths").text("显示更多 ∨");
				// 弹出模态窗口
				//  $('#my-prompt').modal({
				//    relatedTarget: this,
				//    onConfirm: function(e) {
				//      alert('你输入的是：' + e.data || '')
				//    },
				//    onCancel: function(e) {
				//      alert('不想说!');
				//    }
				//  });
			});

			//			function textd(){
			//				$("#lodd").load("1111.html")
			//			}

			// 显示更多按钮操作
			var job = 0;

			function ttt() {
				if(job == 0) {
					$("[name='nei3']").show(800);
					$("#texths").text("收起内容 ∧");
					job = 1;
				} else {
					$("[name='nei3']").hide(800);
					$("#texths").text("显示更多 ∨");
					job = 0;
				}
			}

			//顶部搜索框搜索操作
			$("#keyword").on('keypress', function(e) {
				var keycode = e.keyCode;
				var searchName = $(this).val();
				if(keycode == '13') {
					e.preventDefault();
					//请求搜索接口  
					alert("搜索");
				}
			});

			// JavaScript Document 文字滚动
			function b() {
				t = parseInt(x.css('top'));
				y.css('top', '19px');
				x.animate({
					top: t - 19 + 'px'
				}, 'slow'); //19为每个li的高度
				if(Math.abs(t) == h - 19) { //19为每个li的高度
					y.animate({
						top: '0px'
					}, 'slow');
					z = x;
					x = y;
					y = z;
				}
				setTimeout(b, 3000); //滚动间隔时间 现在是3秒
			}

			$(document).ready(function() {
				$('.swap').html($('.news_li').html());
				x = $('.news_li');
				y = $('.swap');
				h = $('.news_li li').length * 19; //19为每个li的高度
				setTimeout(b, 3000); //滚动间隔时间 现在是3秒
})

	// 页面完全加载完成之后执行的方法 loading加载提示框
	window.onload = function() {
		$("#lodd").load("1111.html");
	}
	</script>
	</body>

</html>