<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>主页标题</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum=1,minimum=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="../i/favicon.png">
  <link rel="stylesheet" href="../css/amazeui.min.css">
  <link rel="stylesheet" href="../css/app.css">
  <link rel="stylesheet" href="../css/demo.css">
</head>
<body>

<!-- Header顶部 -->
<header data-am-widget="header" class="am-header am-header-default am-header-fixed">
  <div class="am-u-sm-9 am-input-group am-input-group-sm" >
    <div class="am-input-group" style="margin-top: 0.4rem;" data-am-sticky>
      <span class="am-input-group-label" style="padding:0px;color:black;background:bottom;border: 0px;">
        <i class="am-icon-search am-icon-fw" style=" margin-top: 3px;color: #fff;"></i>
      </span>
      <input type="search" class="am-tiput am-form-field" id="keyword" style="font-size: 1.3rem!important;">
    </div>
  </div>
</header>
222222

<!-- Menu左侧滑出分类 -->
<nav data-am-widget="menu" class="am-menu  am-menu-offcanvas1" data-am-menu-offcanvas>
  <a href="javascript: void(0)" class="am-menu-toggle" style="position: fixed; top: 3px; z-index: 1999;">
    <i class="am-menu-toggle-icon am-icon-bars"></i>
  </a>
  <div class="am-offcanvas">
    <div class="am-offcanvas-bar">
      <ul class="am-menu-nav sm-block-grid-1">
        <div class="am-pg">
        		<div class="am-avg-sm-1" style="margin: 1rem 0px 1rem 0px;">
        			<img class="am-circle" src="http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/1000/h/1000/q/80" width="140" height="140"/>
        			<p class="am-wex">微信姓名</p> 
        		</div>
        </div>
        <li class="">
        	<a href="##">已购商品</a>
        </li>
        <li class="am-parent">
          <!--<a href="##" class="am-icon-star" style="margin-left: -15px;">我的收藏</a>-->
          <a href="##">我的收藏</a>
          <ul class="am-menu-sub am-collapse  sm-block-grid-2 ">
            <li class="">
              <a href="##">收藏资讯</a>
            </li>
            <li class="">
              <a href="##">收藏录播</a>
            </li>
            <li class="">
              <a href="##">关注直播</a>
            </li>
          </ul>
        </li>
        <!--竖排显示-->
        <li class="am-parent">
          <a href="##">直播分类1</a>
          <ul class="am-menu-sub am-collapse  sm-block-grid-2 ">
            <li class="">
              <a href="##">直播分类1</a>
            </li>
            <li class="">
              <a href="##">直播分类2</a>
            </li>
            <li class="">
              <a href="##">直播分类3</a>
            </li>
            <li class="am-menu-nav-channel">
              <a href="##" title="全部">查看全部 &raquo;</a>
            </li>
          </ul>
        </li>
		<!--横排显示-->
         <li class="am-parent">
          <a href="##">直播分类2</a>
          <ul class="am-menu-sub am-collapse am-avg-sm-3">
            <li class="">
              <a href="##">公司</a>
            </li>
            <li class="">
              <a href="##">人物</a>
            </li>
            <li class="">
              <a href="##">趋势</a>
            </li>
            <li class="">
              <a href="##">投融资</a>
            </li>
            <li class="">
              <a href="##">创业公司</a>
            </li>
            <li class="">
              <a href="##">创业人物</a>
            </li>
          </ul>
        </li> 
      </ul>
    </div>
  </div>
</nav>









<!--页脚简介-->
<footer data-am-widget="footer" class="am-footer am-footer-default" style="background: #EFEFEF; margin-top: 2rem;" data-am-footer="{  }">
	<div class="am-footer-miscs ">
	    <p>由 <a href="http://www.yunshipei.com/" title="11111" target="_blank" class="">hahahahah</a>提供技术支持</p>
	    <p>CopyRight©2017  WobuZhidao .zhibo</p>
	    <p>京ICP备13033158</p>
	</div>
</footer>

<!--回到顶部-->
<div data-am-widget="gotop" class="am-gotop am-gotop-fixed" style="width: 50px;">
	<a href="#top" title="回到顶部">
	      <i class="am-icon-btn am-icon-arrow-up am-active"></i>
	</a>
</div>

<!-- 底部固定导航 -->
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default "id="">
  <ul class="am-navbar-nav am-cf am-avg-sm-4">
    <li>
      <a href="../../index.html">
        <span class="am-icon-home"></span>
        <span class="am-navbar-label">首页</span>
      </a>
    </li>
    <li>
      <a href="../view/follow.html">
        <span class="am-icon-heart"></span>
        <span class="am-navbar-label">关注</span>
      </a>
    </li>
    <li>
      <a href="../view/lives.html">
        <span class="am-icon-eye"></span>
        <span class="am-navbar-label">直播</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="am-icon-play"></span>
        <span class="am-navbar-label">录播</span>
      </a>
    </li>
  </ul>
</div> 

<script src="../js/jquery-3.1.1.min.js"></script>
<script src="../js/amazeui.min.js"></script>
<script type="text/javascript">
	
	//初始化操作
	$(function(){
		
		// 显示更多按钮操作
		$("[name='nei3']").hide();
		$("#texths").text("显示更多 ∨");
		// 弹出模态窗口
		//  $('#my-prompt').modal({
		//    relatedTarget: this,
		//    onConfirm: function(e) {
		//      alert('你输入的是：' + e.data || '')
		//    },
		//    onCancel: function(e) {
		//      alert('不想说!');
		//    }
		//  });
	});
	
	// 显示更多按钮操作
	var job=0;
	function ttt(){
		if(job == 0){
			$("[name='nei3']").show(800);
			$("#texths").text("收起内容 ∧");
			job=1;
		}else{
			$("[name='nei3']").hide(800);
			$("#texths").text("显示更多 ∨");
			job=0;
		}
	}
    
</body>
</html>
